<div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= Expense::MONTHS[Time.now.month - 1]  %>
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <% Expense::MONTHS.each do |month| %>
      <%= link_to month, monthly_summary_path(payment_month: month) %>
    <% end %>
  </div>
</div>
