.form-post {
  background: white;
  margin-top: 10px;
  border-radius: 5px;
  h1 {
    text-align: center;
    color: #666666;
    margin-bottom: 50px;
    margin-top: 0px;
  }
  .btn {
    width: 100%;
    padding: 10px;
    font-weight: bold;
  }
}

// Checkboxes design
.category-choices {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-evenly;
  grid-gap: 16px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.category-choice {
  border: 2px solid;
  background: white;
  padding: 20px;
  border-radius: 20px;
  opacity: .8;
  flex: 0 0 30%;
  text-align: center;
  margin-bottom: 0;
  &.active {
    color: white !important;
    opacity: 1;
  }
}

.hidden {
  display: none;
}

#categories-header {
margin-top: 10px;
}

.wide-input-dates {
  width: 180px !important;
  border-radius: 10px;
}

.expense-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.label-fonts {
  font-style: headers;
  font-weight: bolder;

}


#expense_amount {
  font-weight: bolder;
  font-family: 'Hind', sans-serif;
  opacity: 0.4;
  font-size: 50px;
  border: 1px solid white;
  text-align: center;
  margin-top: 10px
}

#expense_description {
  height: 80px;
  border-radius: 10px;
}

#user_expense_user {
  border: 1px solid white;
}

#photo-preview {
  border-radius: 20px;
}

.display-photo-middle {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-photo {
  border: 1px solid white;
  padding: 0px 24px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.expense-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto;
  background-size: cover;
  background-position: center center;
  border: 5px solid transparent;
  &.active {
    border: 5px solid #04AF88;
  }
}

.flatmate-name {
  text-align: center;
}

.add-photo {
  text-align: center;
}

.header-flex {
  display: flex;
  justify-content: left;

  i {
    margin-top: 18px;
  }
}

.back-arrow {
  margin-right: 10px;
  margin-top: 10px;
}

.error {
  color: #dd394c;
}

.invalid-feedback {
  font-style: headers !important;
  font-size: 16px !important;
}

.form-group {
  label { padding-top: 8px !important; }
  margin-top: 0;
}

.new-expense-user.active {
    border: 5px solid #04AF88;
}


.flatmates-choices h3 {
  font-weight: bolder;
  margin-top: 20px;
}


