.creator-card {
  display: flex;
  width: 50%;
  align-items: center;
  border-radius: 40px;
  box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 5%;
  position: absolute;
  top: -75px;
  left: 90px;
  background: white;
  vertical-align: middle;
}

.total-amount-exp h1 {
  font-size: 50px;
  margin-top: 8px;
}

.information-exp-body {
  position: relative;
}

.exp-date {
  text-align: center;
}

.backbutn {
  padding: 8px;
  color: black;
  width: 11%;
  border-radius: 20px;
  position: absolute;
  top: -15px;
  left: 8px;
}

.information-exp-body {
  border-top-left-radius: 20px;
  background-color: white;
}

.sharing-card-expense {
  display: flex;
  border-radius: 10px;
  box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 5%;
  margin-bottom: 12px;
  font-weight: bolder;
  position: relative;
  p {
    margin-left: 10px;
    margin-top: 9px;
  }
  .small-avatar {
    margin: 0px;
  }
  .us-nam {
    position: absolute;
    right: 10px;
  }
}

.exp-imag {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 12px;
}

.category-exp-rent {
  background-color: #118ab2;
  padding-bottom: 40px;
  text-align: center;
  padding-top: 12px;
  color: white;
}

.category-exp-shopping {
  background-color: #073b4c;
  padding-bottom: 40px;
  text-align: center;
  padding-top: 12px;
  color: white;
}

.category-exp-pets {
  background-color: #ef476f;
  padding-bottom: 40px;
  text-align: center;
  padding-top: 12px;
  color: white;
}

.category-exp-utilities {
  background-color: #ffd166;
  padding-bottom: 40px;
  text-align: center;
  padding-top: 12px;
}

.category-exp-other {
  background-color: #1b4332;
  padding-bottom: 40px;
  text-align: center;
  padding-top: 12px;
  color: white;
}

.user-amount-rent {
  background: #118ab2;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.user-amount-shopping {
  background: #073b4c;
  border-radius: 10px;
  margin-top: 46px;
  margin-bottom: 10px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.user-amount-pets {
  background: #ef476f;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.user-amount-utilities {
  background: #ffd166;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
}

.user-amount-other {
  background: #1b4332;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.wrapper-profile{
  background: white;
  border-radius: 20px 20px 0px 0px;
  min-height: 70vh;
}
