body#flats.flats_new {
  background-color: #04AF88 !important;
}

.container-flats {
  background-color: white;
  margin-top: 7rem !important;
  border-radius: 20px 20px 0px 0px;
}

.big-avatar-flat {
  width: 25vh;
  height: 25vh;
  border-radius: 30%;
  box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  background-size: cover;
  background-position: center center;
  position: relative;
  top: -100px;
}

.addflatmates {
  display: flex;
  flex-direction: row;
  align-items: start;
  height: 100%;
  width: 100%;
  margin-bottom: 15px;
}

.add-flat-mate {
  background-color: #04AF88;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  padding: 8px;
  width: 25%;
  margin-left: 5px;
  text-align: center;
}

.name-header {
  text-align: center;
}

.fixed-btn {
  left: 0px;
}

.add-mate-card {
  background-color: #E6F6F2;
  border-radius: 20px;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 10px;
  img {
    border-radius: 20px;
    display: block;
    margin: 0 auto;
  }
  h5 {
    text-align: center;
  }
}

.mate-card-complete p {
  text-align: center;
  font-family: ubuntu;
}

.user-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
}

.form-submit-new {
  input {
    width: 100%;
    height: 60px;
    border: 0px;
    position: sticky;
    bottom: 0;
  }
}

.email-input {
  width: 50%;
  height: 100%;
  padding: 11px;
  border: 0px;
  border-radius: 10px;
  background-color: #E6F6F2;
}

.rent-input {
  width: 25%;
  height: 100%;
  padding: 11px;
  margin-left: 5px;
  border: 0px;
  border-radius: 10px;
  background-color: #E6F6F2;
}

.flat-properties {
  display: flex;
}

body.flats_edit {
  height: calc(100vh - 50px);

  main {
    display: flex;
    flex-direction: column;

    padding-bottom: 100px;

    .wrapper-flats {
      margin-top: 0px;

      padding: 15px 0;
    }

    form {

      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

.wrapper-flats {
  background: white;
  border-radius: 20px 20px 0px 0px;
  margin-top: 20vh;
  position: relative;
  min-height: 60vh;
  .big-avatar {
    position: absolute;
    top: -120px;
    left: 105px;
  }
}

.new-flat-page {
  height: 63vh;
  top: -96px;
  position: relative;
  h3 {
    color: #575757;
    font-weight: bolder;
  }
  h1 {
    color: #575757;
    font-weight: bolder;
  }
}

.flat-name-input {
  width: 125% !important;
  border: 0px !important;
  border-radius: 10px !important;
  background-color: #E6F6F2 !important;
  margin-right: 8px;
}

.flat-rent-input {
  width: 70% !important;
  border: 0px !important;
  border-radius: 10px !important;
  background-color: #E6F6F2 !important;
  float: right;
}

.update-flat-form {
  background-color: white;
}


.delete-avatar {
  position: relative;
}

.delete-flatmate-link {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 16px;
  color: $maincolor;
}

.wrapper-new-flat {
  position: relative;
  top: 0;
}

#photo-preview {
  height: 150px;
  border-radius: 0% !important;
  object-fit: cover;
}

.preview-banner {
  height: 150px;
  position: relative;
  text-align: center;
  h1 {
    position: absolute;
    margin-top: 50px;
    width: 100%;
  }
}

