.addflatmates {
  display: flex;
  flex-direction: row;
  align-items: start;
  height: 100%;
  width: 100%;
  margin-bottom: 15px;
}

.add-flat-mate {
  background-color: #04AF88;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  padding: 8px;
  width: 25%;
  margin-left: 5px;
  text-align: center;
}

.name-header {
  text-align: center;
}


.add-mate-card {
  background-color: #E5E5E5;
  border-radius: 20px;
  padding: 8px;
}

.user-container {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.form-submit-new {
  input {
    width: 100%;
    height: 60px;
    border: 0px;
    position: sticky;
    bottom: 0;
  }
}

.email-input {
  width: 50%;
  height: 100%;
  padding: 8px;
}

.rent-input {
  width: 25%;
  height: 100%;
  padding: 8px;
  margin-left: 5px;

}
