#banner {
  background: #04AF88;
  height: 45vh;
  background-size: cover;
  background-position: center center;
}

h5 {
  font-family: 'Hind', sans-serif;
}

#homepage-title {
  font-weight: 500;
  color: white;
}

.wrapper-dashboard {
  background: white;
  border-radius: 20px 20px 0px 0px;
  margin-top: -20px;
}

.balance-card {
  box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 15px 5%;
  margin-top: 20px;
  background: white;
}

.user-balance {
  h1 {
    font-size: 50px;
    font-weight: bold;
  }
}

.user-image{
  display: flex;
  width: 50%;
}

.flatmates-container {
  display: flex;
  align-items: center;
  justify-content: center;
  .small-avatar {
    margin: 0;
  }
}

.others-balance{
  display: flex;
  align-items: center;
  margin-top: 5px;
  h2 {
  flex: 1;
  text-align: right;
  font-weight: 300;
  }
  span { font-size: 16px; }
}

.expenses {
  background-color: white;
  margin: 0;
}

.expenses-header {
  display: flex;
  justify-content: space-between;
  align-items: top;
  margin-top: 1.5rem;
  h2, p { margin: 0; }
  select { border-radius: 10px !important;}
}
