#banner {
  background: #04AF88;
  height:45vh;
  background-size: cover;
  background-position: center center;
  padding-top: 0;
}

h5 {
  font-family: 'Hind', sans-serif;
}

#homepage-title {
  font-weight: 500;
  color: white;
}

.wrapper-dashboard {
  background: white;
  border-radius: 20px 20px 0px 0px;
  margin-top: -20px;
  position: relative;
}

.balance-card {
  box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 15px 5%;
  background: rgba(255,255,255,0.9);
  flex-grow: 1;
}

.user-balance {
  h1 {
    font-size: 60px;
    font-weight: bold;
  }
  h5 { text-align: center; }
  #checkout-btn {
    color: #04AF88;
  }
}

.user-image{
  display: flex;
  width: 50%;
}

.flatmates-container {
  display: flex;
  align-items: center;
  justify-content: center;
  .small-avatar {
    margin: 0;
  }
}

.others-balance{
  display: flex;
  align-items: center;
  margin-top: 5px;
  h2 {
  flex: 1;
  text-align: right;
  font-weight: 300;
  }
  span { font-size: 16px; }
}

.expenses {
  background-color: white;
  margin: 0;
}

.expenses-header {
  display: flex;
  justify-content: space-between;
  align-items: top;
  margin-top: 1.5rem;
  color: #343a40;
  h2, p { margin: 0; }
  select { border-radius: 10px !important;}
}

.flat-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  h2 { margin: 0; }
}

.flex-banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 91%;
}
