.avatars-container {
  width: min-content;
  margin: 0 auto;
  border: 1px solid lightgray;
}

#homepage-title {
  margin-top: 10px;
  font-weight: 500;
}

.main-avatar-container {
  width: min-content;
  margin: 0 auto;
}
