.value-proposition {
  font-size: 70px;
  font-weight: bold;
  margin: 10px 20px;
  color: #3F3D56;
}

.pizza-img {
  display: flex;
  align-items: flex-end;
  height: 70%;
  background-image: url('https://res.cloudinary.com/dinkluxtp/image/upload/v1601551094/pizza_sharing_kqoyf2.svg');
  background-size: cover;
  background-position: center;
}

.description-value {
  color: white;
  font-weight: normal;
  margin: 0 auto 40px auto;
  width: 80%;
}

// CARDS
.share-card, .conciliate-card, .track-card {
  margin-bottom: 40px;
  .title {
    font-weight: bold;
    color: #3F3D56;
  }
}

.conciliate-card, .share-card {
  img {
    width: 35%;
  }
}

.track-card {
  img {
    width: 25%;
    margin-left: -18px;
  }
}

.cards {
  margin-top: 80px;
  margin-bottom: 102px;
}

.hero {
  height: 82vh;
}
