.login-title {
  margin-top: 67px;
  color: #343a40;
}

.wrapper {
  background: #3F3D56;
  padding-bottom: 40px;
}

.login-form {
  padding-top: 20px;
}

// LOGIN FORM LINKS

.sign-up {
  color: #04AF88;
  margin-bottom: 10px;
}

.remember {
  color: white;
}
