// MONTHLY SUMMARY

.expense-card {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  border-radius: 10px;
  padding: 10px;
}

.expense-content {
  display: flex;
}

.expense-info {
  margin: 4px 0px 4px 0px;
  .description {
    font-weight: bold;
  }
}

.expense-category-utilities {
  display: flex;
  flex-direction: column;
  border-left: 6px solid #ECC22D;
  border-radius: 4px;
  margin: 4px;
}

.expense-category-other {
  display: flex;
  flex-direction: column;
  border-left: 6px solid #EC5B2D;
  border-radius: 4px;
  margin: 4px;
}

.expense-category-shopping {
  display: flex;
  flex-direction: column;
  border-left: 6px solid #223FD2;
  border-radius: 4px;
  margin: 4px;
}

.expense-category-rent {
  display: flex;
  flex-direction: column;
  border-left: 6px solid #710000;
  border-radius: 4px;
  margin: 4px;
}

.expense-category-pets {
  display: flex;
  flex-direction: column;
  border-left: 6px solid #BA22D2;
  border-radius: 4px;
  margin: 4px;
}

.categories {
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.circle-shopping {
  color: #223FD2;
}

.circle-pets {
  color: #BA22D2;
}

.circle-rent {
  color: #710000;
}

.circle-utilities{
  color: #ECC22D;
}

.circle-others {
  color: #EC5B2D;
}

.form-submit-summary {
  input {
    height: 39px;
    background: #04AF88;
    border: none;
    font-weight: bold;
    color: white;
    border-radius: 20px;
    padding: 0px 20px 0px 20px;
    font-family:'Ubuntu', sans-serif;
  }
}

// PROFILE SHOW

.flat-dhasboard-card {
  display: flex;
  justify-content: flex-end;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  border-radius: 10px;
  padding: 10px;
  align-items: center;
}

.flat-card-content {
  flex-grow: 1;
  p {
    font-weight: bold;
  }
}

.dashboard-btn {
  background: #04AF88
}

.add-flat-mate {
  a {
    color: white;
  }
}

.cards-profile-show {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.profile-show-card {
  background-image: linear-gradient(90deg, rgba(0,0,0,0.4) 100%, rgba(2,0,22,0.2) 0%), url("personal_finance.png");
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  background-size: cover;
  background-position: center;
  padding: 10px;
  height: 165px;
  position: relative;
  margin-top: 20px;
  border-radius: 10px;


  p {
  position: absolute;
  bottom: 8px;
  left: 18px;
  color: white;
  }
}

.summary {
  background-image: linear-gradient(90deg, rgba(0,0,0,0.4) 100%, rgba(2,0,22,0.2) 0%), url("finance.png");
}

.profile-container, .navbar-profile {
  background: #ECECEC;
}

.profile-avatar {
  margin-top: 25px !important;
}

body#profiles{
  background: #ECECEC;
}

.wrapper-profile{
  background: white;
  border-radius: 20px 20px 0px 0px;
  min-height: 70vh;
}

.avatar-container{
  height: calc(30vh - 50px);
}
