.expense-card {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  border-radius: 10px;
  padding: 10px;
}

.expense-content { display: flex; }

.expense-info {
  margin: 4px 0px 4px 0px;
  .description {
    font-weight: bold;
  }
}

.expense-category-utilities {
  display: flex;
  flex-direction: column;
  border-left: 6px solid #ffd166;
  border-radius: 4px;
  margin: 4px;
}

.expense-category-other {
  display: flex;
  flex-direction: column;
  border-left: 6px solid #1b4332;
  border-radius: 4px;
  margin: 4px;
}

.expense-category-shopping {
  display: flex;
  flex-direction: column;
  border-left: 6px solid #073b4c;
  border-radius: 4px;
  margin: 4px;
}

.expense-category-rent {
  display: flex;
  flex-direction: column;
  border-left: 6px solid #118ab2;
  border-radius: 4px;
  margin: 4px;
}

.expense-category-pets {
  display: flex;
  flex-direction: column;
  border-left: 6px solid #ef476f;
  border-radius: 4px;
  margin: 4px;
}

.categories {
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.circle-shopping { color: #073b4c; }

.circle-pets { color: #ef476f; }

.circle-rent { color: #118ab2; }

.circle-utilities{ color: #ffd166; }

.circle-others { color: #1b4332; }
