.primarybtn {
  padding: 15px 70px !important;
  background: #04AF88 !important;
  border-radius: 40px !important;
  color: white !important;
  letter-spacing: 1px;
  font-weight: 500 !important;
  display: inline-block !important;
  border: none !important;
}

.secondarybtn {
  padding: 12px 66px !important;
  border: 2px solid #04AF88 !important;
  border-radius: 40px !important;
  color: #04AF88 !important;
  letter-spacing: 1px !important;
  font-weight: 500 !important;
  display: inline-block !important;
  border: none !important;
}

.fixed-btn {
  text-align: center;
  position: fixed;
  bottom: 20px;
  width: 100%;
}

.width-btns-devise {
  width: 100%;
}
