.primarybtn {
  padding: 15px !important;
  background: #04AF88 !important;
  border-radius: 40px !important;
  color: white !important;
  letter-spacing: 1px;
  font-weight: 500 !important;
  display: inline-block !important;
  border: none !important;
  width: 90%;
  text-transform: uppercase;
}

.primarybtn-home {
  padding: 15px !important;
  background: #04AF88 !important;
  border-radius: 40px !important;
  color: white !important;
  letter-spacing: 1px;
  font-weight: 500 !important;
  display: inline-block !important;
  border: none !important;
  width: 90%;
  text-transform: uppercase;
}

.disabledbtn {
  padding: 15px !important;
  background: darken(#FAFAFA, 10%) !important;
  border-radius: 40px !important;
  color: black !important;
  letter-spacing: 1px;
  font-weight: 500 !important;
  display: inline-block !important;
  border: none !important;
  width: 90%;
}

.secondarybtn {
  padding: 12px 66px !important;
  border-radius: 40px !important;
  color: #04AF88 !important;
  letter-spacing: 1px !important;
  font-weight: 500 !important;
  display: inline-block !important;
  border: none !important;
}

.secondarybtn-category-ex {
  text-align: center;
  background: #04AF88 !important;
  border-radius: 40px !important;
  letter-spacing: 1px !important;
  font-weight: 500 !important;
  display: inline-block !important;
  width: 100%;
  .category-color-button {
    color: white !important;
  }
}

.fixed-btn {
  text-align: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding-bottom: 20px;
}

.width-btns-devise {
  width: 100%;
}
