.card-expense {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 5px 0px;
  margin-bottom: 10px;
  .small-avatar { margin: 0; }
}
.card-price {
  .expense-total-amount {
    color: grey;
    font-weight: bold;
  }
  .expense-total-amount-big {
    font-weight: bold;
    color: #3ca310;
  }
  .amount-to-pay {
    color: #bf1a1a;
    font-weight: bold;
  }
}

.color-separator {
  border-radius: 5px;
  height: 50px;
  max-width: 4px;
}

.expense-info {
 width: 50%;
 p {
  margin: 0;
  color: grey;
 }
 .expense-category {
  font-weight: bold;
  color: black;
 }
}

#expense-card-category {
  font-weight: 700;
  width: 25%;
}

.card-price {
  width: 25%;
  text-align: right;
  h3 {
    font-weight: 500;
    margin: 0;
  }
  p {
    margin: 0;
    color: grey;
  }
}
