.menu-navbar {
  height: 50px;
  display: flex;
  // border: 1px solid lightgray;
  justify-content: space-between;
  align-items: center;
  i { font-size: 18px; }
  p {
    margin: 0;
    font-weight: 600;
    color: #04AF88;
  }
}
