.navbar {
  background: #04AF88 !important;
  i { font-size: 18px; }
  p {
    margin: 0;
    font-weight: 600;
    color: white;
  }
}

// NAVBAR-CATEGORIES

.navbar-shopping {
  background: #00ABE7 !important;
  i { font-size: 18px; }
  p {
    margin: 0;
    font-weight: 600;
    color: white;
  }
}

.navbar-utilities {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #E9CD72 !important;
  i { font-size: 18px; }
  p {
    margin: 0;
    font-weight: 600;
    color: white;
  }
}

.menu-navbar-pets {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FF707A !important;
  i { font-size: 18px; }
  p {
    margin: 0;
    font-weight: 600;
    color: white;
  }
}

.menu-navbar-others {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #D39CD3 !important;
  i { font-size: 18px; }
  p {
    margin: 0;
    font-weight: 600;
    color: white;
  }
}


//Sidenav

.sidenav {
  background: white;
  height: 100vh;

  img {
    margin-top: 20px;
  }
}

.sidenav-content {
  text-align: center;
  margin-top: 20px;
}
.dashboard-link {
  color: white !important;
}
.logo {
  height: 20px;
  margin-top: 2px;
}
// @media (max-width: 992px) {
//     .navbar-collapse {
//         position: absolute;
//         top: 54px;
//         right: 100%;
//         padding-left: 15px;
//         padding-right: 15px;
//         padding-bottom: 15px;
//         width: 100%;
//         transition: all 0.3s ease;
//         display: block;
//     }
//     .navbar-collapse.collapsing {
//         height: auto !important;
//         margin-right: 50%;
//         transition: all 0.3s ease;
//         display: block;
//     }
//     .navbar-collapse.show {
//         right: 0;
//     }
// }
