.navbar {
  background: #04AF88 !important;
  i { font-size: 18px; }
  p {
    margin: 0;
    font-weight: 600;
    color: white;
  }
}

// NAVBAR-CATEGORIES

.navbar-shopping {
  background: #00ABE7 !important;
  i { font-size: 18px; }
  p {
    margin: 0;
    font-weight: 600;
    color: white;
  }
}

.navbar-utilities {
  background: #E9CD72 !important;
  i { font-size: 18px; }
  p {
    margin: 0;
    font-weight: 600;
    color: white;
  }
}

.navbar-pets {
  background: #FF707A !important;
  i { font-size: 18px; }
  p {
    margin: 0;
    font-weight: 600;
    color: white;
  }
}

.navbar-others {
  background: #D39CD3 !important;
  i { font-size: 18px; }
  p {
    margin: 0;
    font-weight: 600;
    color: white;
  }
}


//Sidenav

.sidenav {
  background: white;
  height: 100vh;

  img {
    margin-top: 20px;
  }
}

.sidenav-content {
  text-align: center;
  margin-top: 20px;
}
.dashboard-link {
  color: white !important;
}
