@import 'pages/index';
@import 'components/index';
@import 'config/fonts';
@import 'config/colors';
@import 'components/index';
@import "font-awesome-sprockets";
@import "font-awesome";

@import "bootstrap/scss/bootstrap";

// Setting default font-families

* { text-decoration: none; }

h1 {
  font-family: $headers;
  font-size: 31.25px;
  font-weight: 400;
}

h2 {
  font-family: $headers;
  font-size: 25px;
  font-weight: 400;
}

h3 {
  font-family: $headers;
  font-size: 20px;
  font-weight: 400;
}

p, label, a {
  font-family: $body;
  font-size: 16px;
}
